<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <div class="nav-link">
  
          <div class="user-wrapper">
            <div class="profile-image">
              <img src="assets/images/faces-clipart/pic-1.png" alt="profile image">
            </div>
  
            <div class="text-wrapper">
              <p class="profile-name">{{usuarioSis?.nameUser}}</p>
              <div>
                <small class="designation text-muted">{{usuarioSis?.profileUser}}</small>
              </div>
            </div>
          </div>
  
        </div>
      </li>
  
      <li class="nav-item">
        <a routerLink="/" class="nav-link">
          <i class="menu-icon fa fa-tachometer-alt"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a routerLink="/usuarios" class="nav-link">
          <i class="menu-icon fa fa-clipboard-list"></i>
          <span class="menu-title">Usuarios</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a routerLink="/clientes" class="nav-link">
          <i class="menu-icon fa fa-table"></i>
          <span class="menu-title">Clientes</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/servicios" class="nav-link">
          <i class="menu-icon fa fa-table"></i>
          <span class="menu-title">Servicios</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a (click)="logout()" class="nav-link cursor">
          <i class="menu-icon fa fa-sign-out-alt"></i>
          <span class="menu-title">Cerrar sesión</span>
        </a>
      
      </li>
  
    </ul>
  </nav>