<h2>Clientes</h2>
<hr>

<button class="btn btn-primary" (click)="nuevoCliente()">
    <i class="fas fa-user-plus"></i> Nuevo</button>
<hr>

<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>CONTACTO</th>
            <th>MOVIL</th>
            <th>ESTADO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of arrClientes">
            <td scope="row">{{item.idcliente}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.contacto}}</td>
            <td>{{item.movil}}</td>
            <td>{{item.estado}}</td>
            <td>
                <i class="fas fa-user-edit mr-3 cursor" (click)="editarCliente(item)"></i>
                <i class="fas fa-trash-alt cursor" (click)="eliminarCliente(item)"></i>
            </td>
        </tr>
    </tbody>
</table>


<ng-template #modalData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nuevo cliente</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">


        <form [formGroup]="clienteForm" (ngSubmit)="regCliente()">

            <div class="form-group">
                <label for="codigo">Codigo:</label>
                <input type="text" class="form-control" id="codigo" formControlName="idcliente">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" formControlName="descripcion">
            </div>

            <div class="form-group">
                <label for="correo">Correo:</label>
                <input type="email" class="form-control" id="correo" formControlName="correo">
            </div>

            <div class="form-group">
                <label for="contacto">Contacto:</label>
                <input type="text" class="form-control" id="contacto" formControlName="contacto">
            </div>

            <div class="form-group">
                <label for="movil">Movil:</label>
                <input type="text" class="form-control" id="movil" formControlName="movil">
            </div>

            <div class="form-group">
                <label for="estado">Estado:</label>
                <select id="estado" class="form-control" formControlName="estado">
                    <option *ngFor="let item of arrEstado" [value]="item">{{item}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="clienteForm.invalid">
                <i class="fa fa-save"></i> Registrar</button>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>